
form {
  background-color: #f9efef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

label {
  margin-right: 10px;
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
}

input {
  margin-top: 10px;
  border: none;
  height: 20px;
}
input:hover,
input:hover {
  outline-color: #1890ff;
}

.btn-2 {
  padding: 5px;
  width: 100px;
  border: none;
  background-color: #1890ff;
  border-radius: 4px;
  color: white;
  position: relative;
  top: 50%;
  left: 47%;
  cursor: pointer;
  margin-top: 15px;
  cursor: pointer;
}
button {
  margin-top: 10px;
  padding: 8px;
  border: none;
  background-color: #1890ff;
  border-radius: 4px;
  color: white;
  cursor: pointer;

}
.table {
  font-family: 'Roboto', sans-serif;
  margin-left: 10px;
}

table, th, td {
  border: 2px solid black;
  height: 30px;
}
th {
  width: 400px;
}
th,td {
  text-align: center;
}


.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948;
}

.ng-invalid:not(form, .formGroup)  {
  border-left: 5px solid #a94442;
  border-radius: 2px;
}
span {
  margin-left: 5px;
}
