
.title
{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 20px;
}
.to-do {
  background-color: #f9efef;
  width: 1000px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.branch-title {
  font-family: 'Roboto', sans-serif;
  text-align: start;
  padding: 10px;
}


.input {
  width: 800px;
  height: 30px;
  margin-left: 5px;
  margin-right: 10px;
  border: none;
  padding: 5px;
}

.input::placeholder {
  opacity: 70%;
}

.input:hover,
.input:focus {
  outline-color: rgb(220, 220, 244);
}

.button{
  width: 150px;
  padding: 5px;
  border: none;
  background-color: #1890ff;
  border-color: #1890ff;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}
.button:hover,
.button:active {
  transform: scale(105%);
}

.second-title {
  font-family: 'Roboto', sans-serif;
  padding: 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  overflow: hidden;
  width: 1000px;
  margin: 0 auto;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-content {
  border-bottom: 2px solid #1890ff;
  padding: 10px;
}

.card-content h3 {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

.value {
  position: relative;
}

label {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  right: 5%;
}

.input-list {
  position: absolute;
  right: 20%;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (max-width: 1240px) {

  .title {
    font-size: 30px;
  }

  .branch-title {
    font-size: 25px;
  }

  .to-do {
    width: 890px;
  }

  .input {
    width: 600px;
    margin-right: 100px;
  }

  .button {
    width: 120px;
  }

  .card {
    width: 880px;
  }

  

}

@media (max-width: 768px) {
  .title {
    font-size: 20px;
  }

  .branch-title {
    font-size: 15px;
  }

  .to-do {
    width: 690px;
  }

  .input {
    width: 450px;
  }

  .button {
    width: 100px;
    font-size: 15px;
  }

 .card {
  width: 680px;
 }

}


@media (max-width: 520px) {
  .title {
    font-size: 20px;
  }

  .branch-title {
    font-size: 15px;
  }

  .to-do {
    width: 400px;
  }

  .input {
    width: 250px;
    margin-right: 10px;
    height: 25px;
  }

  .button {
    width: 100px;
    font-size: 10px;
  }
  
  .card {
    width: 390px;
    margin-top: 5px;
  }

  .input-list {
    position: absolute;
    top: -10px;
  }

  .card-content {
    width: 370px;
  }
 
}