
<div class="container">
  <ul>
    <li (click)="goTodo()"><a routerLink="/todo"></a>Todo</li>
    <li (click)="goToTask()"><a routerLink="/task"></a>Task</li>
  </ul>
  <h1 class="title">To do List</h1>
  <div class="to-do">
    <h3 class="branch-title">Create a new todo</h3>
    <hr />
    <input
      type="text"
      #task
      placeholder="what needs to be done?"
      class="input"
    />
    <button class="button" (click)="addTodo(task.value);task.value=''" type="button">
      <fa-icon [icon]="cricleplus"></fa-icon> Add todo
    </button>
  </div>

  <div class="content">
    <div class="to-do-list">
      <h3 class="second-title">Todo List</h3>
      <hr />
      <table>
        <tr *ngFor="let todo of todos">
          <td colspan="2" class="output">
            {{ todo.name }}
          </td>
          <td colspan="1">
            <div class="">
              <label class="checkbox" for="done"> Update Value </label>
              <input
                class="input-list"
                type="checkbox"
                id="done"
                [checked]="todo.isDone"
                aria-label="checkbox"
                (change)="updateValue($event, todo.id)"
              />
            </div>
          </td>
          <td>
            <button
              class="remove"
              type="button"
              (click)="removeItem(todo.id)"
            >
              Remove
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>


