
<div class="container">
  <h1 class="title">To do List</h1>
  <div class="to-do">
    <h3 class="branch-title">Create a new todo</h3>
    <hr />
    <input
      type="text"
      #task
      id="first-name"
      placeholder="what needs to be done?"
      class="input"
    />
    <button class="button" (click)="addTodo(task.value);task.value=''" type="button">
      <fa-icon [icon]="cricleplus"></fa-icon> Add todo
    </button>


    <div class="card">
      <div class="card-content" *ngFor="let todo of todos">
        <h3>{{todo.name}}</h3>
        <div class="value">
          <label for="last-name"> Update Value </label>
          <input
            class="input-list"
            type="checkbox"
            id="last-name"
            [checked]="todo.isDone"
            aria-label="checkbox"
            (change)="updateValue($event, todo.id)"
          />
        </div>
        <a href="#" class="btn" (click)="removeItem(todo.id)">Remove Task</a>
      </div>
    </div>
  </div>
</div>


