
.title
{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 20px;
}
.to-do {
  background-color: #f9efef;
  width: 1000px;
  height: 400px;
  margin-right: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.branch-title {
  font-family: 'Roboto', sans-serif;
  text-align: start;
  padding: 10px;
}
table {
  position: relative;
  background: radial-gradient(circle at 7.5% 24%, rgb(237, 161, 193) 0%, rgb(250, 178, 172) 25.5%, rgb(190, 228, 210) 62.3%, rgb(215, 248, 247) 93.8%);
}
table, th, td {
  border: 2px solid black;
  height: 30px;
}
th {
  width: 400px;
}
th,td {
  text-align: center;
  color: black;
}

.input {
  width: 800px;
  height: 30px;
  margin-left: 5px;
  margin-right: 10px;
  border: none;
  padding: 5px;
}
.input::placeholder {
  opacity: 70%;
}

.input:hover,
.input:focus {
  outline-color: rgb(220, 220, 244);
}

.button{
  width: 150px;
  padding: 5px;
  border: none;
  background-color: #1890ff;
  border-color: #1890ff;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}
.button:hover,
.button:active {
  transform: scale(105%);
}

.second-title {
  font-family: 'Roboto', sans-serif;
  padding: 10px;
}

.checkbox {
  font-family: 'Roboto', sans-serif;
}
.remove {
  border: none;
  background-color: #1890ff;
  color: white;
  width: 80px;
  height: 25px;
  cursor: pointer;
  border-radius: 4px;
}
.remove:hover,
.remove:active {
  transform: scale(105%);
}
.output {
  font-family: 'Roboto', sans-serif;
  padding-left: 10px;
}
.input-list {
  position: absolute;
  left: 420px;
}
