.card {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.card h2 {
  margin-top: 0;
  text-align: center;
}

.card p {
  margin: 5px 0;
  text-align: center;
}


.card button {
  background-color: #ddd;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}

.card .remove-button {
  background-color: #ff0000;
  color: #fff;
  margin-bottom: 5px;
}

.card .details-button {
  background-color: #0099ff;
  color: #fff;
}



@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (max-width: 768px) {
  button {
    font-size: 12px;
  }
}
